Package: com.kunderscore.priorityhub
Name: Priority Hub
Depends: firmware (>= 11), mobilesubstrate, preferenceloader, applist
Version: 0.0.9-2
Architecture: iphoneos-arm
Description: Organize your notifications!
Depiction: https://kunderscore.gitlab.io/repo/depictions/?p=com.kunderscore.priorityhub
Maintainer: kunderscore <kunderscore3@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks
